.main-div {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:20px 0 ;
}
.sub-div {
    border: 1px solid #EAEFF2;
    border-radius: 8px;
    padding: 20px;
    background-color: #EAEFF2;

}
.denied {
    color : red;
    font-size: large;
    font-weight: 800;
    background-color: #eee6d5;
    width:300px;
    margin: 0 auto;

}
.code q {
    padding: 10px;
    border: 2px solid skyblue;
    background-color: skyblue;
    font-weight: 700;
    font-size: 20px;
    border-radius: 7px;
}
.code{
    margin-top: 30px;
}
.permission {
    font-size: large;
}
.permission q{
    border: 1px solid #F77156;
    background-color: #F77156;
}
p q {
    font-size: large;
    display:block;
    border: 1px solid #DAD870;
    border-radius: 5px;
    margin: 10px auto;
    width: 300px;
    padding: 2px;
    background-color: #DAD870;
}
body{
    background-color: lime;
}
/* .main-div .permission span{
    font-weight: 600;
} */
